<app-head></app-head>
<article>
  <h2>Welcome to Angular</h2>

<!-- interpolation binding -->
  <p>{{title}} wealth: {{wealth |currency:'EUR'}}</p>
  <p>{{1+2}}</p>
  <!-- [] binds one way to an attribute -->
  <img [src]=imgUrl [alt]=a [title]=t />
  
  <!-- what if we do "src={{imgUrl}}" -->

  <!-- banana in a box -->
  <!-- [()] two-way binding -->
  <input [(ngModel)]="catName" placeholder="cat name"/>
  <br>
  <p>Tha cat is called {{catName}}</p>


  <!-- () will bind an event FROM this template TO the component class -->
  <button (click)="handleButton()" >Feed the cats</button>
  <!-- ng generate component my-stocks -->
  <app-my-stocks></app-my-stocks>

  <!-- instantiate the portfolio component -->
  <app-portfolio [portfolio]="portfolio"></app-portfolio>
</article>
<app-foot></app-foot>